<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Cob Game Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="performAuthAction()" [formGroup]="authForm">
    <ion-grid>
      <ion-row>
        <ion-col size-sm="4" offset-sm="4">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input formControlName="username" type="email"></ion-input>
            </ion-item>
            <ion-item *ngIf="isUsernameInvalid()" lines="none">
              <ion-label color="danger">Invalid Username</ion-label>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
            <ion-item *ngIf="isPasswordInvalid()" lines="none">
              <ion-label color="danger">Invalid Password</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="4" offset-sm="4">
          <ion-button expand="block" type="submit" [disabled]="authForm.invalid">{{isLogin? 'Login' : 'Register'}}</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="4" offset-sm="4">
          <ion-button expand="block" fill="outline" (click)="toggleAuthMode()">{{isLogin? 'Register': 'Login'}}</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
